.react-datepicker__input-container {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #444444;
}

.react-datepicker__week {
  font-family: 'Montserrat', sans-serif;
  color: #444444;
}
.react-datepicker__current-month {
  font-family: 'Montserrat', sans-serif;
  color: #444444;
}

.react-datepicker__day-names {
  font-family: Montserrat;
}
